[+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-Bb]in/
[Oo]bj/

*.log
*.pdb
*.suo
*.user
*.userosf
*.kzu
*.aps
*.vs/
*.*proj.user

packages/
logs/
TestResults/

*.nupkg
.nuget/







+